@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

html {
  background-color: #E5E5E5;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

/* WRAP, HEADER, FOOTER */

.wrap {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 50px 57px auto 75px;
  grid-template-columns: 1fr 1280px 1fr; 
}

.header-wrap {
  grid-column: 1/4;
  grid-row: 1;

  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.14), 0px 1px 6px rgba(0, 0, 0, 0.1);
}

.header-content {
  grid-column: 2/3;
  grid-row: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-content__icon {
  padding-top: 8px;
  cursor: pointer;
}

.header-content__menu {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
  font-size: 14px;
}

.header-content__menu__point {
  padding: 0 16px;
  line-height: 50px;
}

.header-content__menu__point:hover {
  cursor: pointer;  
  background-color: #E5E5E5;
}

.header-content__menu__sepp {
  width: 1px;
  height: 30px;
  background-color: #D6D6D6;
}

.back {
  grid-column: 2/3;
  grid-row: 2;
  padding-top: 17px;
}

.back a {
  text-decoration: none;
  color: #3072C4;
  cursor: pointer;
}

.back a:hover {
  text-decoration: underline;
}

.content {
  grid-column: 2/3;
  grid-row: 3;
}

.footer {
  grid-column: 2/3;
  grid-row: 4;
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  color: #A1A1A1; 
}
.footer a:hover {
  text-decoration: underline;
}

.footer a {
  cursor: pointer;
}

.footer__logo {
  float: left;
}

.footer__text-SKB {
  display: inline-block;
  padding-left: 8px;
  line-height: 24px;
}
.footer__text-SKB span {
  font-size: 14px;
}
.footer__text-SKB span b {
  font-size: 16px;
}
.footer__text-SKB__service {
  font-size: 14px;
}

.footer__info {
  display: flex;
}
.footer__server {
  font-size: 14px;
  line-height: 24px;
}

.footer__contacts {
  margin-left: 108px;
  text-align: right;
  line-height: 24px;
}

.footer__contacts a {
  font-size: 14px;
  color: #A1A1A1; 
  text-decoration: none;
} 

/* CONTENT */

/* MAIN BLOCK */
.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 0 50px;
  background-color: #fff;
  border: 1px solid #DADADA;
  border-top-width: 2px;
  border-top-color: #1E79BE;
  box-sizing: border-box;
}

/* MAIN HEADER */
.main__header {
  margin-bottom: 37px;
  padding-left: 45px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
}
.main__title {
  margin-top: 0;
  margin-bottom: 43px;
  font-weight: 300;
  font-size: 42px;
  line-height: 49px;
}
.tabs {
  display: flex;
  margin: 0;
  padding-left: 8px;
  list-style: none;
}
.tabs__tab:not(:last-child) {
  margin-right: 36px;
}
.tabs__tab {
  font-size: 22px;
  line-height: 30px;
  padding-bottom: 18px;
}
.tabs__tab--active {
  border-bottom: 4px solid #1E79BE;;
}

/* MAIN FOOTER */
.main__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 45px;
}
.btn {
  height: 42px;
  font-size: 16px;
  line-height: 25px;
  cursor: pointer;
}
.btn--send {
  margin-right: 15px;
  width: 134px;
  background: #1E79BE;
  border: 1px solid #1E79BE;
  border-radius: 1px;
  color: #fff;
}
.btn--close {
  width: 197px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  color: #333;
}
.main a {
  text-decoration: none;
  line-height: 25px;
  color: #3072C4;
}
.main a:hover {
  text-decoration: underline;
}
.main__link {
  font-size: 16px;
}

/* MAIN CONTENT */
.documents-wrap {
  padding: 0 45px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.documents-container {
  flex-grow: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.documents-block {
  display: flex;
  flex-wrap: wrap;
}

.document {
  width: 50%;
  margin-bottom: 26px;
  display: flex;
  flex-direction: column;
}

.documents-container h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
}

.doc-owner {
  font-size: 18px;
  line-height: 30px;
  margin: 0 0 5px 0;
}

.doc-description {
  font-size: 14px;
  flex-grow: 1;
  color: #A1A1A1;
  margin: 0 0 15px 0;
}

.doc-control a {
  font-size: 14px;
}

.doc-control input[type="text"] {
  font-size: 14px;
  width: 110px;
  height: 32px;
  border: 1px solid #CECECE;
  color: A1A1A1;
  margin-right: 10px;
  text-align: center;
}